<ion-header>
  <ion-toolbar>
    <ion-title>Active Notifications</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Comments</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
  

    
    <ion-item>
      <ion-label>Mentions</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Saved</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Comments on photos</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-list-header>
      <ion-label>Activities of the people you follow</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>People they follow</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-list-header>
      <ion-label>Creator activity</ion-label>
    </ion-list-header>
<p></p>
    <ion-item>
      <ion-label>Posts from people you follow</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>



  </ion-list>
</ion-content>