<ion-header>
  <ion-toolbar>
    <ion-title>Notificaciones Activas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Comentarios</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
  

    
    <ion-item>
      <ion-label>Menciones</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
    
    <ion-item>
      <ion-label>Guardados</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-item>
      <ion-label>Comentarios en fotos</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>

    <ion-list-header>
      <ion-label>Actividades de las personas a las que sigues</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Personas a las que siguen</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-list-header>
      <ion-label>Actividad de los creadores</ion-label>
    </ion-list-header>
<p></p>
    <ion-item>
      <ion-label>Publicaciones de las personas que sigues</ion-label>
      <ion-checkbox slot="end"></ion-checkbox>
    </ion-item>



  </ion-list>
</ion-content>