<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <h2>Delete Account</h2>
    <p class="subtext">
      Account deletion is permanent and you will not be able to access your photos or posts again. All data associated with the account will be deleted.
    </p>
    <ion-button color="danger">Delete</ion-button>
  </div>
</ion-content>