<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="content-container">
    <h2>Eliminar Cuenta</h2>
    <p class="subtext">
      La eliminación de la cuenta es permanente y no podrás volver a acceder a tus fotos o publicaciones. Se eliminarán todos los datos asociados a la cuenta.
    </p>
    <ion-button color="danger">Eliminar</ion-button>
  </div>
</ion-content>