<ion-header>
  <ion-toolbar>
    <ion-title>Añadir cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <br>
<ion-item lines="none" routerLink="/create-account">
  <ion-label>Crear una cuenta personal nueva</ion-label>
  <ion-icon name="add-circle-outline"></ion-icon>
</ion-item>
<br>
<ion-item lines="none" routerLink="/register-account">
  <ion-label>Conectate a una cuenta existente</ion-label>
  <ion-icon name="person-add-outline"></ion-icon>
</ion-item>
