<ion-header [translucent]="true">
 
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<!--              Cuenta                -->
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Account</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item lines="none" routerLink="/edit-profile">
        <ion-label>Edit profile</ion-label>
        <ion-icon name="person-circle-outline"color="medium"></ion-icon>
      </ion-item>
  
      <ion-item lines="none" routerLink="/visibility">
        <ion-label>Account Visibility</ion-label>
        <ion-icon name="eye-off-outline"color="medium"></ion-icon>
      </ion-item>
  
      <ion-item lines="none" routerLink="/notification">
        <ion-label>Notification</ion-label>
        <ion-icon name="notifications-off-circle-outline"color="medium"></ion-icon>
      </ion-item>
      
      <ion-item lines="none" routerLink="/privacy">
        <ion-label>Privacy and data</ion-label>
        <ion-icon name="shield-half-outline"color="medium"></ion-icon>
      </ion-item>
      
      <ion-item lines="none" routerLink="/denuncias">
        <ion-label>Complaints center</ion-label>
        <ion-icon name="mail-outline"color="medium"></ion-icon>
      </ion-item>
      
      

     <!--        iniciar sesion          -->

      <ion-list-header>
        <ion-label>Login</ion-label>
      </ion-list-header>

      

      <ion-item lines="none" routerLink="/security">
        <ion-label>Security</ion-label>
        <ion-icon name="lock-closed-outline"color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="none" routerLink="/logout">
        <ion-label>Log out</ion-label>
        <ion-icon name="log-out-outline" color="medium"></ion-icon>
      </ion-item>

    <!--        Asistencia         -->

    <ion-list-header>
      <ion-label>Attendance</ion-label>
    </ion-list-header>

    <ion-item lines="none" routerLink="/assist">
      <ion-label>Help Center </ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" routerLink="/terms">
      <ion-label>Terms of service</ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" routerLink="/policy">
      <ion-label>Privacy Policy</ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>


    </ion-list>



    
    
  </ion-list>
