<ion-header [translucent]="true">
 
</ion-header>
<ion-header>
  <ion-toolbar>
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>

</ion-buttons>

<!--              Cuenta                -->
<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Cuenta</ion-label>
    </ion-list-header>

    <ion-list>
      <ion-item lines="none" routerLink="/edit-profile">
        <ion-label>Editar perfil</ion-label>
        <ion-icon name="person-circle-outline"color="medium"></ion-icon>
      </ion-item>
  
      <ion-item lines="none" routerLink="/visibility">
        <ion-label>Visibilidad de la cuenta</ion-label>
        <ion-icon name="eye-off-outline"color="medium"></ion-icon>
      </ion-item>
  
      <ion-item lines="none" routerLink="/notification">
        <ion-label>Notificacion</ion-label>
        <ion-icon name="notifications-off-circle-outline"color="medium"></ion-icon>
      </ion-item>
      
      <ion-item lines="none" routerLink="/privacy">
        <ion-label>Privacidad y datos</ion-label>
        <ion-icon name="shield-half-outline"color="medium"></ion-icon>
      </ion-item>
      
      <ion-item lines="none" routerLink="/denuncias">
        <ion-label>Centro de denuncias</ion-label>
        <ion-icon name="mail-outline"color="medium"></ion-icon>
      </ion-item>
      
      

     <!--        iniciar sesion          -->

      <ion-list-header>
        <ion-label>Iniciar sesión</ion-label>
      </ion-list-header>

      <ion-item lines="none" routerLink="/add-account">
        <ion-label>Añadir cuenta</ion-label>
        <ion-icon name="person-add-outline"color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="none" routerLink="/security">
        <ion-label>Seguridad</ion-label>
        <ion-icon name="lock-closed-outline"color="medium"></ion-icon>
      </ion-item>

      <ion-item lines="none" routerLink="/logout">
        <ion-label>Cerrar sesion</ion-label>
        <ion-icon name="log-out-outline" color="medium"></ion-icon>
      </ion-item>

    <!--        Asistencia         -->

    <ion-list-header>
      <ion-label>Asistencia</ion-label>
    </ion-list-header>

    <ion-item lines="none" routerLink="/assist">
      <ion-label>Centro de Asistencia</ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" routerLink="/terms">
      <ion-label>Términos del servicio</ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>

    <ion-item lines="none" routerLink="/policy">
      <ion-label>Politica de privacidad</ion-label>
      <ion-icon name="arrow-redo-outline"color="medium"></ion-icon>
    </ion-item>


    </ion-list>



    
    
  </ion-list>
