ion-list-header {
    --color: var(--ion-color-medium);
    --background: transparent;
    --font-weight: bold;
    margin-top: 20px;
  }
  
  ion-item {
    --background: var(--ion-background-color);
    --border-color: var(--ion-color-light);
  }
  
  ion-icon {
    color: var(--ion-color-primary);
  }
  
  ion-note {
    font-size: 0.9em;
    color: var(--ion-color-medium);
  }
  