.no-denuncias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
  }
  
  .no-denuncias-container p {
    color: var(--ion-color-medium); 
    font-size: 1.2em;
  }
  