<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile-container">
    <ion-card>
      <ion-card-header>
        <div class="profile-header">
          <img [src]="profilePic" alt="Profile Picture" class="profile-avatar">
          <h2>{{ fullName }}</h2>
          <p><ion-icon name="map-outline"></ion-icon> {{ location }}</p> 
        </div>
      </ion-card-header>

      <ion-card-content>
        <div class="profile-stats">
          <div>
            <h3>Followers</h3>
            <p>{{ followers }}</p>
          </div>
          <div>
            <h3>Likes</h3>
            <p>{{ likes }}</p>
          </div>
        </div>
        <ion-button expand="full" color="primary" [routerLink]="['/edit-profile']">Edit profile</ion-button>
        <ion-button expand="full" color="primary" [routerLink]="['/login']">Logout</ion-button>

        <div class="profile-photos">
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
