.forgot-account-container {
    position: relative;
    z-index: 1;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px; 
    font-weight: 600;
  }
  
  ion-item {
    margin-bottom: 20px;
    margin-top: 10px; /* Añade margen superior para separar el campo del texto */
    color: rgb(8, 8, 8);
    --background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
    
  }
  
  ion-label, ion-input {
    color: rgb(0, 0, 0);
    --background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
    font-weight: 800;
  }
  
  ion-button {
    margin-top: 20px; /* Añade un margen superior al botón */
  font-weight: 600;
}
  ion-content {
    --background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
  }