<ion-header>
  <ion-toolbar>
    <ion-title>Login options</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
<ion-item>
  <p></p>
  <ion-label>Facebook</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>
<p></p>
<ion-item>
  <ion-label>Instagram</ion-label>
  <ion-toggle [checked]="true" slot="end"></ion-toggle>
</ion-item>
<p></p>
<ion-item>
  <ion-label>Apple</ion-label>
  <ion-toggle slot="end"></ion-toggle>
</ion-item>