// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/



.dark-mode {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;

  }
.light-mode {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
    
  }
  

  