
<ion-header [translucent]="true">
</ion-header>


<ion-content [fullscreen]="true">
  
  
 


  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title [style.color]="'white'">Iniciar Sesión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating" [style.color]="isDarkMode ? 'white' : 'white'">Email</ion-label>
          <ion-input type="email" [(ngModel)]="email" [style.color]="isDarkMode ? 'white' : ''"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" [style.color]="isDarkMode ? 'white' : 'white'">Contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" [style.color]="isDarkMode ? 'white' : ''"></ion-input>
        </ion-item>
        <ion-button expand="full" (click)="login()">Login</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-button expand="full" [routerLink]="['/register']">No tienes cuenta? Registrate</ion-button> 
  </ion-content>
  

  
  
