<ion-header>
  <ion-toolbar>
    <ion-title>Privacidad y datos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
<p></p>
    <ion-item>
      <ion-label>Usar infromacion de los sitios web que visitas</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
  <p></p>
    <ion-item>
      <ion-label>Usar informacion de los socios</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
   <p></p> 
    <ion-item>
      <ion-label>Anuncios sobre Artify</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-item>
      <ion-label>Actividad para los infromes de los anuncios</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-item>
      <ion-label>Compartir informacion con los socios</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-list>
      <ion-item lines="none" routerLink="/delete-account">
        <ion-label>Eliminar tus datos y cuenta</ion-label>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item>
<p></p>
      
        <ion-item lines="none" routerLink="/data">
          <ion-label>Solicita tus datos</ion-label>
          <ion-icon name="analytics-outline"></ion-icon>
        </ion-item>
<p></p>
        <ion-item lines="none" routerLink="/cache">
          <ion-label>Borrar caché de la app</ion-label>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-item>

      