<ion-header>
  <ion-toolbar>
    <ion-title>Privacy and data</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
<p></p>
    <ion-item>
      <ion-label>Use information from the websites you visit</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
  <p></p>
    <ion-item>
      <ion-label>Use partner information</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
   <p></p> 
    <ion-item>
      <ion-label>Announcements about Artify</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-item>
      <ion-label>Activity for ad reporting</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-item>
      <ion-label>Share information with partners</ion-label>
      <ion-checkbox slot="end" checked="true"></ion-checkbox>
    </ion-item>
<p></p>
    <ion-list>
      <ion-item lines="none" routerLink="/delete-account">
        <ion-label>Delete your data and account</ion-label>
        <ion-icon name="trash-outline"></ion-icon>
      </ion-item>
<p></p>
      
        <ion-item lines="none" routerLink="/data">
          <ion-label>Request your data</ion-label>
          <ion-icon name="analytics-outline"></ion-icon>
        </ion-item>
<p></p>
        <ion-item lines="none" routerLink="/cache">
          <ion-label>Clear app cache</ion-label>
          <ion-icon name="close-circle-outline"></ion-icon>
        </ion-item>

      