

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
      <ion-button expand="full" (click)="register()">Registrar</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-button expand="full" [routerLink]="['/login']">Ya tienes cuenta? Inicia sesion</ion-button> 

</ion-content>
