<ion-header>
  <ion-toolbar>
    <ion-title>Upload photo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="upload-container">
    <div class="upload-area">
      <p>Choose a file or drag and drop it here.</p>
      <p>We recommend using high-quality .jpg files less than 20MB in size or .mp4 files less than 200MB in size.</p>
    </div>
    <!-- Input file hidden -->
    <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden>
    
    <ion-button (click)="selectPhoto()">Select Photo</ion-button>
  </div>
</ion-content>
