<ion-content [scrollY]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title></ion-title>
      <img src="/assets/icon/icon.png" alt="App Icon" class="centered-icon" />
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="masonry-grid">
      <div class="masonry-item" *ngFor="let media of mediaItems">
        <ng-container *ngIf="media.type === 'image'; else videoTemplate">
          <!-- Mostrar imagen -->
          <img [src]="media.src" alt="Image" class="media-item image" (click)="openImageModal(media.src)" />
          <div class="overlay">
            <div class="icons">
              <ion-icon name="download-outline" (click)="descargarMedia(media)"></ion-icon>
            </div>
          </div>
        </ng-container>
        <!-- Template para video -->
        <ng-template #videoTemplate>
          <video [src]="media.src" controls class="media-item video"></video>
        </ng-template>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom" class="fixed-tab-bar">
    <ion-tab-button [routerLink]="['/upload-photo']">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Upload</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/search']">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button [routerLink]="['/profile']">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
