.container {
  display: flex;
  justify-content: center;
  padding: 16px;
  flex-wrap: wrap;
}

.masonry-grid {
  column-count: 2;
  column-gap: 5px;
  padding: 0 5px;
}

.masonry-item {
  position: relative;
  margin-bottom: 16px;
  position: relative;
}

.masonry-item img, 
.masonry-item video {
  width: 100%;
  display: block;
  border-radius: 8px;
  transition: box-shadow 0.3s ease-in-out;
}

.masonry-item:hover img, 
.masonry-item:hover video {
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.8);
}

img, video {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  border-radius: 8px; /* Bordes redondeados */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.masonry-item:hover .overlay {
  opacity: 1; /* Mostrar la superposición al hacer hover */
}

.icons {
  display: flex;
  gap: 10px;
}

ion-content {
  --background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
  --padding-bottom: 56px;
}

.fixed-tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 10;
}

.photo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: auto;
  height: calc(100vh - 40px);
}

.centered-icon {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.icons ion-icon {
  font-size: 25px;
}

.overlay {
  border-radius: 8px;
}
.media-item.video {
  width: 100%;
  max-height: 400px; /* Ajusta el tamaño según tu diseño */
}
