.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; 
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 16px;
  }
  
  .subtext {
    font-size: 1em;
    color: var(--ion-color-medium); 
    max-width: 80%; 
  }