.custom-background {
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */
  height: 100%;
}

.profile-pic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  
}
ion-content{
  --background: linear-gradient(to right, #6a11cb, #2575fc); /* Fondo degradado */

}
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid white; /* Bordes blancos alrededor del avatar */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra del avatar */
  margin-bottom: 10px;
}

.change-photo-btn {
  --background: #2575fc;
  --border-radius: 20px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.change-photo-btn:hover {
  --background: #6a11cb;
  transform: scale(1.05);
}

ion-item.custom-item {
  margin-bottom: 15px;
  --background: rgba(255, 255, 255, 0.8);
  --border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

ion-label {
  color: #333;
  font-weight: bold;
}

ion-input,
ion-datetime,
ion-textarea {
  color: #6a11cb;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

ion-button {
  width: 48%;
  --background: #2575fc; /* Botón de color con fondo degradado */
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
}

ion-button:hover {
  --background: #6a11cb;
  transform: scale(1.05);
}

@media screen and (max-width: 768px) {
  .profile-pic {
    width: 100px;
    height: 100px;
  }

  ion-item.custom-item {
    --border-radius: 5px;
  }

  ion-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .button-group {
    flex-direction: column;
    align-items: center;
  }
}
