<ion-header>
  <ion-toolbar>
    <ion-title>Account Security</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<p></p>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Two-step authentication</ion-label>
      <ion-toggle slot="end" checked="true"></ion-toggle>
    </ion-item>
<p></p>
    <ion-list>
      <ion-item lines="none" routerLink="/login-options">
        <ion-label>Login options</ion-label>
        <ion-icon name="people-outline"></ion-icon>
      </ion-item>
    

  </ion-list>

